.reservation {
    background-color: #D9E7FF;
    background-image: url(../images/background_reservation.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 80px 120px;
  }
  .reservation__title {
   font-family: "Inter";
   font-style: normal;
   font-weight: 500;
   font-size: 44px;
   line-height: 52px;
   padding-top: 100px;
   text-align: center;
   margin-bottom: 80px;
   margin-top: 0;
   margin-right: auto;
   margin-left: auto;
  }
  .reservation__form {
    margin: 0 auto;
  }
  