.page { 
    min-width: 1100px;
    max-width: 1600px;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto;
}

  .header {
    background-color: white;
    background-image: url('../images/background_header.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 80px 40px 80px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .header__span-accent {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #2F80ED;
    
  }
  .header__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -1px;
    max-width: 729px;
    margin-top: 183px;
    margin-bottom: 28px;
  }
  .header__description {
    font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 0;
  }
  .header__image {
    position: absolute;
    height: 568px;
    width: 646px;
    right: 5px;
    top: 124px;
  }
  .header__span-accent {
    display: block;
  }
  .header__footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 0px;
    font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383
  }
  .header__paragraph {
    display: block;
    margin: 0;
  }
  .header__schedule {
    margin: 0;
    list-style-type: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    
  }
  
  .nav__logo {
    display: block;
    width: 105px;
    height: 39px;
    position: relative;
    left: -30px;

  }
  
  .nav__links {
    list-style-type: none;
    margin: 8px 0 0;
    display: flex;
    column-gap: 20px;
    padding: 0px;
   

  }
  
  .nav__link {
    color: #000000;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

  }


  .recipes{
    background-color: #0a2750;
    background-image: url(../images/background_recipes.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 80px 215px;
    color: white;
  }
  .recipes__title {
    max-width: 580px;
    margin: 0 0 24px 0;
    font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  }
  .recipes__subtitle {
    max-width: 438px;
    margin: 0 0 80px 0;
    font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  }
  .recipes__videos {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
  .recipes__iframe {
    width: 480px;
    height: 273px;
  }
  .recipes__video-caption {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
  }

.reservation {
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 80px 120px;
}
.reservation__title {
  font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
padding-top: 100px;
text-align: center;
margin-right: 0;
margin-left: 0;
margin-bottom: 80px;
margin-top: 0;
}
.reservation__form {
  margin: 0 auto;
}

.form {
    max-width: 385px;
  }
  .form__input {
    border-radius: 4px;
    font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  height: 60px;
  border:#838383 1px solid;
  box-sizing: border-box;
  padding: 15px 20px;
  }
  .form__input::placeholder {
    color: #838383;
  }
  .form__button{
    border-radius: 4px;
    font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  background-color: #2f80ed;
  border: none;
  color: white;
  max-width: 385px;
  width: 100%;
  margin-bottom: 32px;
  }
  
  .form__button:focus {
    opacity: 70%;
  }
  
  .form__checkbox {
    border-radius: 2px;
    height: 20px;
    width: 20px;
  }
  .form__label {
    font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 32px;
  }
  .form__label_checkbox {
    display: flex;
    gap: 12px;
    flex-direction: row;
    justify-content: center;
  }
  .form__fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }


.footer {
    background: linear-gradient(180deg, #0A2850 0%, #071931 100%);
    padding-top: 60px;
    color: white;
  }
  .footer__logo {
    width: 105px;
    height: 39px;
    display: block;
  }
  .footer__content {
    margin: 0px 100px 108px 80px;
    display: flex;
    justify-content: space-between;
  }
  .footer__copyright {
    padding: 0px 0px 60px 80px;
    font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  }
  .footer__social-heading {
    font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px 0;
  }
  .footer__social-link {
    font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: white;
  align-items: center;
  margin-bottom: 16px;
  }
  
  .footer__list {
    /* O código abaixo remove os estilos do navegador padrão para listas */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .footer__social-icon {
    height: 16px;
    width: 16px;
  }